@model IEnumerable<WebApp.Models.MemoTypes>

@{
    ViewBag.Title = "ViewSub";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}
<div class="section-header" style="direction: rtl;padding-bottom:5px">
    <div class="container-fluid" style="display: flex">
        <div class="logo col-xl-2 col-lg-2 col-md-2 col-xs-2 col-2  ">
            <a href="@Url.Action("Index","Main")">
                <img class="img-fluid" src="~/img/logo.png" alt="fayoum-logo" title="fayoum-logo" style="width: 129px;height:101px" />
            </a>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-8 col-xs-8 col-8">
            <h4 style="text-align:center;font-size:20px;padding-top: 35px;font-family: myFont;">مذكرات الجلسة رقم @ViewBag.sessionNum</h4>
        </div>
        <div class="logo col-xl-2 col-lg-2 col-md-2 col-xs-2 col-2  ">

        </div>

    </div>
</div>


@*<h4 style="text-align:center;font-family:myFont2;font-size:20px;padding-top:35px;">مذكرات الجلسة رقم @ViewBag.sessionNum</h4>*@
@foreach (var item in Model)
{
    <div class="panel panel-warning">
        <div class="panel-heading"><h3>@Html.DisplayFor(modelItem => item.Name)</h3></div>

        <div class="row panel-warning" style="padding:30px 48px 5px 0;">
            @*<h5>@Html.DisplayFor(modelItem => item.CategoryDescription)</h5>*@

            @foreach (var subItem in item.sub)
            {
                if (@subItem.NewSessionID.ToString() == @ViewBag.Result)
                {
                    <div class="col-md-3 thumbnail" style="margin-left:5px; margin-bottom:30px; min-height:100px; padding:7px;">

                        <img src="~/img/@item.Img" />

                        <div class="row">
                            <div class="col-md-8" >
                                <h5>@Html.Raw(HttpUtility.HtmlDecode(Html.LabelFor(modelItem => subItem.Sub_ID).ToString()))</h5>
                            </div>
                            <div class="col-md-4" >
                                <h5 style="font-size: 11px;font-weight: bold;padding-top: 2px;">@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.Sub_ID).ToString()))</h5>
                            </div>
                        </div>
                        <div class="row" style="text-align:center">
                            <h5>@Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(modelItem => subItem.Sub_Name).ToString()))</h5>
                        </div>
                        <div class="row" style="text-align:center; padding-bottom:5px">
                            <a href="~/FileUpload/@Html.DisplayFor(model=>subItem.Sub_File)" class="btn btn-info" style="width:87%"> <i class="fa fa-eye"></i> عرض</a>

                            @*<a href="~/FileUpload/@Html.DisplayFor(model=>subItem.Sub_File)" class = "btn btn-primary"><i class="fa fa-eye"></i> @Html.DisplayFor(model => subItem.Sub_File) </a>*@

                            @*@Html.ActionLink("عرض", "Details", new { JobId = subItem.NewSessionID }, new { @class = "btn btn-primary" })*@
                        </div>

                    </div>
                }
            }
        </div>
    </div>

}




