@model WebApp.Models.NewSession

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>هل تريد حذف هذه الجلسة بالفعل ؟</h4>
<br />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Session_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session_Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حدف" class="btn btn-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
