@model WebApp.Models.NewSession

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>NewSession</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Session_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Session_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Session_Date)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit",new { id = Model.ID })" class="btn btn-primary pull-left"><i class="fa fa-edit " style="padding-top: 5px; padding-left: 5px;"></i>تعديل الموضوع</a>
    <a href="@Url.Action("Index")" class="btn btn-previous pull-right"><i class="fa fa-backward pull-right" style="padding-top: 1px; padding-right: 5px;"></i>العودة لقائمة الموضوعات</a>
</p>
