@model WebApp.Models.SessionSubjects

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h3>هل تريد حذف هذا الموضوع بالفعل؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewSession.Session_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewSession.Session_Num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemoTypes.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoTypes.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sub_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_File)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_File)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color" style="text-align: center">
    <input type="submit" value="حذف الموضوع" class="btn btn-danger"  />
    <br />
    <a href="@Url.Action("Index")" class="btn btn-previous pull-right"><i class="fa fa-backward pull-right" style="padding-top: 1px; padding-right: 5px;"></i>العودة لقائمة الموضوعات</a>
</div>
    }
</div>
