@model WebApp.Models.SessionSubjects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div>
    <h4>عرض الموضوع</h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewSession.Session_Num)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NewSession.Session_Num)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemoTypes.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemoTypes.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sub_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sub_Description)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit",new { id = Model.ID })" class="btn btn-primary pull-left"><i class="fa fa-edit " style="padding-top: 5px; padding-left: 5px;"></i>تعديل الموضوع</a>
    <a href="@Url.Action("Index")" class="btn btn-previous pull-right"><i class="fa fa-backward pull-right" style="padding-top: 1px; padding-right: 5px;"></i>العودة لقائمة الموضوعات</a>
</p>
