@model IEnumerable<WebApp.Models.SessionSubjects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>مذكرات الجلسة رقم</h4>

<a href="@Url.Action("Create")" class="btn btn-primary "><i class="fa fa-plus pull-right" style="padding-top: 5px;"></i>انشاء مذكرة جديدة&nbsp;</a>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewSession.Session_Num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewSession.Session_Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sub_Description)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-default">
                    <i class="icofont-ui-edit"></i>
                    عرض
                </a>
                <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-primary">
                    <i class="icofont-ui-edit"></i>
                    تعديل
                </a>
                <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger">
                    <i class="icofont-ui-delete"></i>
                    حذف
                </a>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }

</table>
